.rectangle {
  width: 300px;
  height: 175px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: filter 0.2s;
  margin-top: 10px;
}

.rectangle:hover {
  filter: brightness(85%);
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: white;
  padding: 20px 0 0 30px;
}

.quantity-container {
  display: flex;
  margin: 20px 0 0 30px;
}

.icon {
  font-size: 50px;
  color: white;
  margin-right: 20px;
}

.quantity {
  font-size: 35px;
  color: white;
  font-weight: 600;
  align-self: center;
}

.circle1 {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: rgba($color: white, $alpha: 0.25);
  position: absolute;
  top: -40px;
  right: -70px;
}

.circle2 {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: rgba($color: white, $alpha: 0.25);
  position: absolute;
  bottom: -50px;
  right: -20px;
}
