@import "/src/utils/base.scss";

.screen1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.search-text {
  font-weight: 500;
  margin-bottom: 1rem;
}

.searchBar-container {
  width: 40%;
}

.divLine {
  width: 60vw;
  height: 1.5px;
  background-color: $text_400;
  margin: 2rem 0;
}

.table-title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.pagination-bar-container {
  margin-top: 0.6rem;
  display: flex;
  justify-content: center;
}

.table-container {
  width: 100%;
  margin-top: 0.5rem;
  box-shadow: 1px 1px 1px 1px #b4b4b4;
  border-radius: 0.3rem;

  &-title {
    height: 2.5rem;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: $primary_500;
    border-radius: 0.3rem 0.3rem 0 0;

    .title {
      font-size: 1rem;
      font-weight: 600;
    }
  }

  &-content {
    height: 13rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: #e7e7e7;
      border: 1px solid #cacaca;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: #818181;
    }

    &-item {
      height: 2.8rem;
      display: flex;
      text-align: center;
      align-items: center;
      background-color: white;
      margin-top: 0.1rem;

      .item {
        font-size: 1rem;
        font-weight: 400;

        &-status {
          color: #0068e1;

          &-active {
            color: #ff2020;
          }
        }
      }
    }
  }

  &-checkbox {
    width: 3%;

    input:hover {
      cursor: pointer;
    }
  }

  &-no {
    width: 5%;
  }

  &-origin {
    width: 40%;
  }

  &-destination {
    width: 40%;
  }

  &-tools {
    width: 15%;
    display: flex;
    justify-content: center;
  }
}

.btn-customize {
  padding: 0.4rem 0.5rem 0.3rem 0.5rem;
  background-color: $primary_900;
  border-radius: 0.5rem;

  &:first-child {
    margin-right: 0.5rem;
  }

  img {
    width: 1.5rem;
    height: auto;
  }
}

.btn-customize:hover {
  cursor: pointer;
  filter: brightness(85%);
}

.ToolBtn + .ToolBtn {
  margin-left: 10px;
}

.pagination-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.IconBtn + .IconBtn {
  margin-left: 1rem;
}

.screen2-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  margin-bottom: 2rem;
  width: 70%;
}

.input-label {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.input-border {
  border-color: $primary_900 !important;
}

.inputLabel {
  color: $primary_900 !important;
}
