@import "/src/utils/base.scss";

.container__home{
    &-modal{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-heading {
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &-title {
            font-size: 1.4rem;
            font-weight: 600;
            color: #332D2D;
        }

        &-btn {
            width: 8rem;
            height: 3rem;
            padding: 0 0.5rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;
            background-color: #ff9494;
            color: white;
            border-radius: 0.5rem;

            p {
                margin: 0;
            }

            &:hover {
                cursor: pointer;
                filter: brightness(85%);
            }
        }
    }
}

.table-container {
    width: 100%;
    margin-top: 3rem;
  
    &-title {
      height: 2.5rem;
      display: flex;
      text-align: center;
      align-items: center;
      background-color: $primary_500;
      border-radius: 0.3rem 0.3rem 0 0;
  
      .title {
        font-size: 1rem;
        font-weight: 600;
        // border: 1px solid #000;
      }
    }
  
    &-content {

      &-item {
        height: 2.8rem;
        display: flex;
        text-align: center;
        align-items: center;
        background-color: white;
        margin-top: 0.1rem;
  
        .item {
          font-size: 1rem;
          font-weight: 400;
  
          &-status {
            color: #0068e1;
  
            &-active {
              color: #ff2020;
            }
          }
        }
      }
    }
  
    &-no {
      width: 5%;
    }
  
    &-name {
      width: 15%;
    }
  
    &-dob {
      width: 13%;
    }
  
    &-phone {
      width: 18%;
    }
  
    &-account {
      width: 18%;
    }
  
    &-time {
      width: 12%;
    }

    &-status {
        width: 14%;
    }
  
    &-tools {
      display: flex;
      justify-content: center;
    }
}
  
.btn-customize {
    padding: 0.4rem 0.5rem 0.3rem 0.5rem;
    background-color: $primary_900;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.btn-customize:hover {
    cursor: pointer;
    filter: brightness(85%);
}