@import "/src/utils/base.scss";

.customize-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.8rem;
  width: 7rem;
  background-color: $primary_900;
  margin-right: 1rem;
  border-radius: 0.5rem;

  &:last-child {
    margin-right: 0;
  }

  &-icon {
    width: fit-content;
    margin-right: 0.5rem;

    img {
      height: 1.5rem;
      width: auto;
    }
  }

  &-title {
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
  }
}

.customize-btn:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 6px;
  background-color: $primary_900;
  transition: filter 0.2s;
  -webkit-user-select: none;
  user-select: none;
}

.icon-btn:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.btn--disable {
  opacity: 0.5;
  pointer-events: none;
  cursor: none;
}

.icon-btn-title {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  margin: 0 0.5rem;
  margin-bottom: 3px;
}

.tool-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  width: 1rem;
  height: 1rem;
  border-radius: 6px;
  background-color: $primary_900;
  transition: filter 0.2s;
  -webkit-user-select: none;
  user-select: none;
}

.tool-btn:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.tool-btn-title {
  font-size: 0.5rem;
  font-weight: bold;
  color: white;
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  background-color: $primary_900;
  border-radius: 5px;
  transition: filter 0.2s;
  -webkit-user-select: none;
  user-select: none;
}

.form-btn:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.form-btn-icon {
  font-size: 15px;
  margin-right: 10px;
}

.form-btn-title {
  font-weight: 500;
}
