.item {
  background-color: #ffe3e1;
  width: 220px;
  height: 60px;
  display: flex;
  color: rgba($color: black, $alpha: 0.8);
  line-height: 60px;
  text-decoration: none;
  transition: filter 0.2s;
  -webkit-user-select: none;
  user-select: none;
}

.item:hover {
  filter: brightness(85%);
}

.item__border {
  border-bottom: solid 2px white;
}

.item--active {
  background-color: #ff9494;
  color: rgba($color: white, $alpha: 0.8);
}

.item__icon {
  font-size: 25px;
  width: 25px;
  height: 25px;
  font-weight: bold;
  margin: 0 20px;
}

.item__title {
  font-size: 25px;
  font-weight: bold;
}
